:root {
	--colors-top: #191919;
	--colors-ultraHigh: #303030;
	--colors-high: #555;
	--colors-low: #e7e7e7;
	--colors-ultraLow: #f9f9f9;
	--colors-base: #fefefe;
	--colors-darkOverlay: rgba(25, 25, 25, 0.7);
	--colors-baseOverlay: rgba(254, 254, 254, 0.9);
}
